*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
header{
	width: 100%;
	padding: 20px 0px;
	background-color: #3b5998 ;
}
.clear{
	clear: both;
}
.center{
	width:90%;
	max-width: 1280px;
	margin: 0 auto;
	/*background-color: red;*/
}
.center .logo{
	width:150px;
	height:50px;
	background-color:#094b96;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
}
.center .login{
	min-width:35%;
	/*background-color:yellowgreen;*/
	margin-top: 6px;
	float: right;
}
.login .camposLogin{
	width: 40%;
	float:left;
	/*background-color: gray;*/
}
.login .camposLogin:last-of-type{
	margin-left:12px;
}
.camposLogin label{
	color: white;
}
.login input[type="submit"]{
	float: right;
	margin-top:14px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #3b5998;
	border:1ps solid gray;
	cursor: pointer;
}
.login .camposLogin > input{
  width:100%;
}
main{
	width:100%;
	background-image: linear-gradient(to bottom, white, #ccc);
}
main .center{
	/*min-height: 380px;*/
}
.center .texto-e-img{
	width:53%;
	height:380px;
	/*background-color: brown;*/
	float: left;
}
.texto-e-img h2{
	/*background-color: gold;*/
	font-size:33px;
	font-weight:bold;
	color:#3b5998;
	padding-top:20px;
}
.texto-e-img img{
	width:100%;
	margin-top:20px;
}
.center > .criar-conta{
	width: 45%;
	min-height: 380px;
	/*background-color: blue;*/
	float: right;
	padding-top: 20px;
}
.criar-conta h3{
	margin: 8px 0px;
}
.criar-conta form{
	margin-top:14px;
}
.criar-conta form .w50{
	width:50%;
	display: inline-block;
	margin-right: -4px;
}
.w50 input[type="text"]{
	width: 95%;
	height:40px;
	padding-left: 7px;
	border-radius: 8px;
	border:1px solid gray;
}
.criar-conta form .w100{
	width:100%;
	margin-top:10px;
}
.w100 input[type="email"], .w100 input[type="password"]{
	width: 100%;
	height:40px;
	border-radius: 8px;
	border: 1px solid gray;
	padding-left: 7px;
}
form .w100 h2{
	color:#1d2129;
	font-size:24px;
	margin-top: 12px;
}
form select.nascimento{
	float: left;
	margin-top: 8px;
	margin-right: 3px;
}
.criar-conta form .w100 h4.pergunta{
	width: 50%;
	float: left;
	color:#3b5998;
	padding-left: 20px;
	cursor: pointer;
}
.w100 .sexo{
 float:left;
 display:flex;
 flex-row: row-reverse;
 margin-right:20px;
 /*background-color: green;*/
}
.sexo h4{
	font-size:23px;
	margin-top: -5px;
	color: gray;
}
.sexo input[type="radio"]{
	
}
form .aviso{
 margin-top: 20px;
}
.aviso h4{
	color: gray;
}
.criar-conta form .w100 input[type="submit"]{
	width:70%;
	max-width:200px;
	height: 40px;
	background: linear-gradient(#67ae55, #578843);
	color: white;
	cursor: pointer;
	border: 0;
	font-size: 20px;
	display: block;
	margin:0 auto;
	border-radius: 8px;
}
footer{
	width: 100%;
	padding: 50px 0px 30px 0px;
	background-image: linear-gradient(to bottom, #ccc 10%, white);
}
footer .center .idiomas{
	padding-bottom: 12px;
	border-bottom: 2px solid gray;
}
.idiomas a{
	text-decoration: none;
	color:#3b5998;
	margin-right: 3px;
}
.center .servicos{
	padding-top:20px;
}
.servicos a{
	color: #3b5998;
	margin-right:12px;
	text-decoration: none;
	font-size: 16px;
}
@media screen and (max-width:800px){
	.criar-conta form .w100 h4{
		width: 100%;
		float: left;
		color: white;
		padding-left:0px;
	}
}
@media screen and (max-width: 768px){
	.center{
		width:90%;
		max-width: 1200px;
		margin: 0 auto;
		/*background-color: red;*/
	}
	.center .logo{
		width:150px;
		height:50px;
		background-color:#094b96;
		float:none;
		margin: 0 auto;
	}
	.center .login{
		min-width:35%;
		/*background-color:yellowgreen;*/
		margin-top: 6px;
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 727px){
	.criar-conta form .w100 h4.pergunta{
		width: 100%;
		float: left;
		color:#3b5998;
		padding-left:0px;
		padding-top: 8px;
		padding-bottom: 12px;
		cursor: pointer;
	}
}
@media screen and (max-width: 655px){
	.center .logo{
		width:150px;
		height:60px;
		background-color:#094b96;
		float: none;
		margin: 0 auto;
		margin-bottom: 15px;
	}  
	.center .login{
		min-width:35%;
		margin-top: 12px;
		float: none;
		margin: 0 auto;
		padding: 0px 8px;
	}
	.center .texto-e-img{
		width:100%;
		height:380px;
		/*background-color: brown;*/
		float:none;
	}
	.center > .criar-conta{
		width:60%;
		min-height: 380px;
		/*background-color: blue;*/
		float:none;
		padding-top: 20px;
		margin: 0 auto;
	}
}
@media screen and (max-width:  400px){
	.login .camposLogin{
		width: 100%;
		float:none;
	}
	.login .camposLogin:last-of-type{
		margin:14px 0px;
	}
	.login input[type="submit"]{
		float: left;
		margin-top:10px;
		font-size: 18px;
		font-weight: bold;
		color: white;
		border:1ps solid gray;
		cursor: pointer;
	}
	.center > .criar-conta{
		width:90%;
		min-height: 380px;
		/*background-color: blue;*/
		float:none;
		padding-top: 20px;
		margin: 0 auto;
	}
	footer .center .idiomas{
		text-align: center;
	}
	.center .servicos{
		text-align:center;
	}
}